<header>
  <h1>Product warehouse</h1>
</header>

@if (showCreateModal()) {
  <app-modal (toggle)="toggleCreateModal($event)">
    <app-product-form
      title="Add product"
      (onSubmit)="addProduct($event)"
    ></app-product-form>
  </app-modal>
}

@if (showEditModal()) {
  <app-modal title="Edit product" (toggle)="toggleEditModal($event)">
    <app-product-form
      title="Edit product"
      [data]="editProduct()"
      (onSubmit)="updateProduct($event)"
    ></app-product-form>
  </app-modal>
}

@if (!products()) {
  <div>Loading products...</div>
} @else {
  <app-products (onCreate)="toggleCreateModal(true)" [products]="products()">
    @for (product of products(); track product.id) {
      <app-products-row
        (onDelete)="removeProduct($event)"
        (onUpdate)="openEditModal($event)"
        [id]="product.id"
        [quantity]="product.quantity"
        [name]="product.name"
        [price]="product.price"
      ></app-products-row>
    }
  </app-products>
}
