<header>
  <h1>Product warehouse</h1>
</header>

@if (showCreateModal()) {
  <app-modal (onClose)="toggleCreateModal(false)">
    <app-product-form
      title="Add product"
      (onSubmit)="addProduct($event)"
    ></app-product-form>
  </app-modal>
}

@if (showEditModal()) {
  <app-modal title="Edit product" (onClose)="closeEditModal()">
    <app-product-form
      title="Edit product"
      [data]="editProduct()"
      (onSubmit)="updateProduct($event)"
    ></app-product-form>
  </app-modal>
}

@if (!products()) {
  <div>Loading products...</div>
} @else {
  <app-products (onCreate)="toggleCreateModal(true)" [products]="products()">
    @for (product of products(); track product.id) {
      <app-products-row
        [id]="product.id"
        [quantity]="product.quantity"
        [name]="product.name"
        [price]="product.price"
      >
        <button class="btn-edit" (click)="openEditModal(product)">Edit</button>
        <button class="btn-remove" (click)="removeProduct(product.id)">
          Remove
        </button>
      </app-products-row>
    }
  </app-products>
}
