:host {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 4 equal columns */
  gap: 16px; /* Spacing between grid items */
  align-items: center; /* Vertically center content */
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
  width: 60%;
  margin: 0 auto;
}

:host > button:last-of-type {
  background-color: tomato;
}
