<div class="products-header">
  <p>ID</p>
  <p>Name</p>
  <p>Quantity</p>
  <p>Price (EUR)</p>
  <button (click)="createProduct()">Add product</button>
</div>
@for (product of products; track product.id) {
  <app-products-row
    (delete)="removeProduct($event)"
    (update)="updateProduct($event)"
    [id]="product.id"
    [quantity]="product.quantity"
    [name]="product.name"
    [price]="product.price"
  ></app-products-row>
} @empty {
  <div class="no-content">No products available</div>
}
