.products-header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: white;
}

.no-content {
  padding: 3em;
  background-color: blanchedalmond;
}

.btn-create {
  background-color: greenyellow;
}
