:host {
  background-color: white;
  border-radius: 4px;
  z-index: 10;
}

div {
  margin: 15px;
  padding: 1em;
}

label {
  display: inline-block;
  width: 5em;
  text-align: right;
  margin-right: 1em;
}

input {
  width: 20em;
  height: 2.5em;
  font-size: large;
}

span {
  color: red;
  display: block;
  margin-left: 6em;
  margin-top: 1em;
}
