:host {
  background-color: white;
  border-radius: 4px;
}

div {
  margin: 15px;
  padding: 1em;
}

label {
  display: inline-block;
  width: 5em;
  text-align: right;
  margin-right: 1em;
}

input[type="text"] {
  width: 20em;
  height: 2.5em;
  font-size: large;
}
